{% extends 'header.html' %}
{% load static %}

{% block title %}Создание события{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="event-form">
    {% csrf_token %}
    
    <div class="form-left">
      {{ form.title.label_tag }}
      {{ form.title }}

      {{ form.name.label_tag }}
      {{ form.name }}

      {{ form.category.label_tag }}
      {{ form.category }}

      {{ form.adress.label_tag }}
      {{ form.adress }}

      {{ form.date.label_tag }}
      {{ form.date }}

      {{ form.phone.label_tag }}
      {{ form.phone }}

      {{ form.price.label_tag }}
      <div class="price-input">
        {{ form.price }}
        <span>₸</span>
      </div>
    </div>

    <div class="form-right">
      {{ form.image.label_tag }}
      {{ form.image }}
      <img id="previewImage" style="display: none; max-width: 100%; border-radius: 10px; margin-top: 10px;">
    </div>

    <div class="form-bottom">
      {{ form.discription.label_tag }}
      {{ form.discription }}
      <button type="submit" class="button-small">Создать</button>
    </div>
  </form>

  <script>
    document.getElementById("event-image").addEventListener("change", function(event) {
      let reader = new FileReader();
      reader.onload = function(e) {
        let preview = document.getElementById("previewImage");
        preview.src = e.target.result;
        preview.style.display = "block";
      };
      reader.readAsDataURL(event.target.files[0]);
    });
  </script>
  {% endblock %}
</html>