{% extends 'header.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

  {% block content %}
  <div class="box">
    <div class="profile">
        <div class="profile-pic">
            <img src="{% static './image/profile.svg '%}" alt="Profile Image">
            <button class="add-image">+</button>
        </div>
        <div class="profile-info">
            <label>Отображаемое имя:</label>
            <input type="text" placeholder="Например: Александр">
            
            <label>Имя пользователя:</label>
            <input type="text" placeholder="Например: Alex">
            
            <label>Город:</label>
            <select>
                <option value="almaty">Алматы</option>
                <option value="astana">Астана</option>
                <option value="shymkent">Шымкент</option>
                <option value="atyrau">Атырау</option>
            </select>
            
            <label>Почта:</label>
            <input type="email" placeholder="Например: alex@email.com">
            
            <div class="buttons">
                <button class="change-password">Изменить пароль</button>
                <button class="save">Сохранить</button>
            </div>
        </div>
    </div>
</div>

  {% endblock %}

</html>